<!--Main Navigation-->
<nav class="navbar navbar-default" role="navigation" id="hdr">
    <div class="navbar-header col-md-9">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="titleHdr" class="navbar-brand" href="{{ path('scalofrio_index') }}">
            <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
            Scalofrío SL</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" id="titleHdr" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-plus-sign"></span> Acciones <b class="caret"></b>
                </a>
                <ul class="dropdown-menu col-md-2">
                    <li><a href="{{ path('scalofrio_incidencia_add') }}"><span class="glyphicon glyphicon-ok-circle"></span> Nueva incidencia</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-exclamation-sign"></span> Incidencias clientes </a></li>
                    <li><a href="{{ path('scalofrio_cliente_list') }}"><span class="glyphicon glyphicon-home"></span> Gestión clientes</a></li>
                    <li><a href="{{ path('scalofrio_user_list') }}"><span class="glyphicon glyphicon-user"></span> Gestión usuarios</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-print"></span> Gestión máquinas</a></li>
                    <li><a href="{{ path('scalofrio_comercial_add') }}"><span class="glyphicon glyphicon-star"></span> Añadir comercial</a></li>
                    <li><a href="{{ path('scalofrio_gestion_add') }}"><span class="glyphicon glyphicon-wrench"></span> Añadir tipo gestión</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="{{ path('scalofrio_logout') }}" id="titleHdr"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
            </li>
        </ul>
    </div>
</nav>