<h3>Nueva incidencia</h3>
<h4>Título: {{data['data'].titulo}}</h4>
<p>El usuario {{ data['userName'] }} ha generado la siguiente incidencia</p>
<p>Datos de la incidencia</p>
<ul>
    <li>Tipo: {{data['data'].tipo}}</li>
    <li>Prioridad: {{data['data'].prioridad}}</li>
    <li>Fecha Incidencia: {{data['data'].fechaIncidencia | date("d/m/Y")}}</li>
    <li>Cliente: {{data['data'].cliente.nombre}}</li>
    <li>Descripción: {{data['data'].descripcion}}</li>
    <li>Fecha Creación: {{"now" | date ("d/m/Y")}}</li>
</ul>