{% extends 'base.html.twig' %}

{% block body %}
    {{ include('menu.html.twig') }}
    {{ parent() }}
    {#Mensaje de confirmación de operación#}
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert">
            <div class="container">{{ flashMessage }}</div>
        </div>
    {% endfor %}

    {#Mensaje de confirmación de operación#}
    <div id="buscador" style="text-align: center">
        <form action="{{ path('scalofrio_busqueda_cliente') }}" method="post">

            <fieldset class="searchform">
                <span class="glyphicon glyphicon-search" style="color: #868686"></span><input type="text"
                                                                                              placeholder="Buscar cliente..."
                                                                                              name="buscar"
                                                                                              class="searchfield"/>
            </fieldset>

        </form>
    </div>

    <div class="container">
        <div class="col-md-6">
            <div class="page-header margin-none">
                <h2><b>Listado de clientes</b></h2>
                <a href="{{ path('scalofrio_cliente_add') }}" class="btn btn-sm btn-warning padding-none">
                    <span class="glyphicon glyphicon-home"></span>
                    Nuevo cliente</a>

            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                    {% for cliente in pagination %}
                        <tr>
                            <td>{{ cliente.id }}</td>
                            <td>{{ cliente.nombre }}</td>
                            <td>{{ cliente.email }}</td>
                            <td class="actions">
                                <a href="{{ path('scalofrio_cliente_view', { id: cliente.id}) }}"
                                   class="btn btn-sm btn-primary">Ver</a>
                                <a href="{{ path('scalofrio_cliente_edit', { id: cliente.id}) }}"
                                   class="btn btn-sm btn-danger">Editar</a>

                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {#display navigation#}
                <div class="navigation" style="text-align: center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>

            <div class="col-md-6">
{#
                Primero, opción a crear una nueva relación entre cliente y establecimiento
#}
                <div class="page-header margin-none">
                    <h4><b>Nueva relación 'Cliente > Establecimiento'</b></h4>
                </div>
                {{ form_start(estab) }}
                <div class="form-group col-md-6">
                    <label>Cliente</label>
                    {{ form_widget(estab.cliente, { 'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(estab.cliente) }}</span>
                </div>
                <div class="form-group col-md-6">
                    <label>Establecimiento</label>
                    {{ form_widget(estab.nombre, { 'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(estab.nombre) }}</span>
                </div>
                <p>
                    {{ form_widget(estab.guardar, {'label' : 'Crear', 'attr': {'class': 'btn btn-success'}}) }}
                </p>
                {{ form_end(estab) }}

{#
                Después, la relación entre cliente, establecimiento y subestablecimiento
#}
                <div class="page-header margin-none">
                    <h4><b>Nueva relación 'Cliente > Establecimiento > Subestablecimiento'</b></h4>
                </div>
                {{ form_start(subestab) }}
                <div class="form-group col-md-4">
                    <label>Cliente</label>
                    {{ form_widget(subestab.cliente, { 'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(subestab.cliente) }}</span>
                </div>
                <div class="form-group col-md-4">
                    <label>Establecimiento</label>
                    {{ form_widget(subestab.establecimientos, { 'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(subestab.establecimientos) }}</span>
                </div>
                <div class="form-group col-md-4">
                    <label>Subestablecimiento</label>
                    {{ form_widget(subestab.nombre, { 'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(subestab.nombre) }}</span>
                </div>
                <p class="col-md-2">
                    {{ form_widget(subestab.guardar, {'label' : 'Crear', 'attr': {'class': 'btn btn-success'}}) }}
                </p>
                {{ form_end(subestab) }}
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            //Control selects cliente>establecimiento
            var select = document.getElementById('sub_cliente');
            $("#sub_establecimientos").prop("disabled", true);
            select.addEventListener('change',
                function () {
                    var selectedOption = this.options[select.selectedIndex];
                    CambioCliente(selectedOption.value);
                    $("#sub_establecimientos").prop("disabled", true);
                    $("#sub_establecimientos").empty();
                });
        });

        function CambioCliente(idcliente) {
            var ruta = '{{ path('obtener_establecimiento', {'idcliente':'IDCLIENTE'}) }}';
            ruta = ruta.replace('IDCLIENTE', idcliente);
            $.post(ruta, null, function (result) {
                $("#sub_establecimientos").prop("disabled", false);
                $("#sub_establecimientos").append(result);
            });
        }

    </script>
{% endblock %}

