{% extends 'base.html.twig' %}

{% block body %}
    {{ include('menu.html.twig') }}
    {{ parent() }}

    {%  for flashMessage in app.session.flashbag.get('mensaje') %}
    <div class="alert alert-success" role="alert">
        <div class="container">{{ flashMessage }}</div>
    </div>
    {% endfor %}

    <div class="container">
        <div class="col-md-12">
             {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMERCIAL') %}
                <div id="buscador" style="text-align: center">
                    <form action="{{ path('scalofrio_busqueda') }}" method="post">
                        <fieldset class="searchform">
                            <span class="glyphicon glyphicon-search" style="color: #868686"></span><input type="text" placeholder="Buscar incidencia..." name="buscar" class="searchfield"/>
                        </fieldset>
                    </form>
        </div>
            <div class="page-header margin-none">
                <h2><b> <span class="glyphicon glyphicon-hand-right"></span> Incidencias comerciales</b></h2>
                <a href="{{ path('scalofrio_incidencia_add') }}" class="btn btn-sm btn-warning padding-none">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                    Nueva incidencia</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('scalofrio_export') }}" class="btn btn-sm btn-success padding-none">
                        <span class="glyphicon glyphicon-file"></span>
                        Exportar a CSV
                    </a>
                {% endif %}
            </div>

           {# Textos de estado#}
            {% if incCliPend > 0 %}
            <p style="color: red">Ojo, hay incidencias de clientes pendientes.</p>
            {% endif %}
            {% if incRev > 0 %}
                <p style="color: orange">Se han generado nuevas incidencias de comercial relacionadas con las incidencias remitidas por el cliente.</p>
            {% endif %}
            {% if incRev == 0 and incCliPend == 0%}
                <p style="color: limegreen">No hay incidencias de clientes pendientes.</p>
            {% endif %}

            {% if pagination|length > 0 %}
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr>
                        <th></th>
                        <th>Nº</th>
                        <th>Fecha</th>
                        <th>Ruta</th>
                        <th>Comercial</th>
                        <th>Cliente</th>
                        <th>Establecimiento</th>
                        <th>Bar</th>
                        <th>Gestión</th>
                        <th>Máquina</th>
                        <th>Resultado</th>
                        <th>Acciones</th>
                    </tr>
                    {% for incidencia in pagination %}
                        <tr>
                            <td>
                                {% if incidencia.numinccliente is not null  %}
                                    <b>Nº {{ incidencia.numinccliente.id }}</b>
                                    <span class="glyphicon glyphicon-user" style="color: darkslategrey"></span>
                                {% endif %}
                            </td>
                            <td>{{ incidencia.id }}</td>
                            <td>{{ incidencia.fecha|date('d-m-Y') }}</td>
                            <td>{{ incidencia.ruta }}</td>
                            <td>{{ incidencia.comercial }}</td>
                            <td>{{ incidencia.cliente.nombre }}</td>
                            <td>{{ incidencia.establecimientos}}</td>
                            <td>{{ incidencia.subestablecimientos}}</td>
                            <td>{{ incidencia.gestion }}</td>
                            <td>{{ incidencia.maquinas }}</td>
                            <td>{{ incidencia.resultado }}</td>
                            <td class="actions">
                                <a href="{{ path('scalofrio_incidencia_view', { id: incidencia.id}) }}" class="btn btn-sm btn-primary">Ver</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('scalofrio_incidencia_edit', { id: incidencia.id}) }}" class="btn btn-sm btn-danger">Editar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {#display navigation#}
                <div class="navigation" style="text-align: center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
            {% else %}
            <div style="text-align:center;">
                <span><i class="fas fa-server" style="font-size:64px"></i></span>
                <span><h4>No se ha generado ninguna incidencia.</h4></span>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>

{% endblock %}


