{% extends 'base.html.twig' %}

{% block body %}
    {{ include('menu.html.twig') }}
    {{ parent() }}
{#Mensaje de confirmación de operación#}
    {%  for flashMessage in app.session.flashbag.get('mensaje') %}
    <div class="alert alert-success" role="alert">
        <div class="container">{{ flashMessage }}</div>
    </div>
    {% endfor %}

    {#Mensaje de confirmación de operación#}
        <div id="buscador" style="text-align: center">
            <form action="{{ path('scalofrio_busqueda') }}" method="post">

                <fieldset class="searchform">
                    <span class="glyphicon glyphicon-search" style="color: #868686"></span><input type="text" placeholder="Buscar incidencia..." name="buscar" class="searchfield"/>
                </fieldset>

            </form>
        </div>

    <div class="container">
        <div class="col-md-12">
            <div class="page-header margin-none">
                <h2><b>Incidencias</b></h2>
                <a href="{{ path('scalofrio_incidencia_add') }}" class="btn btn-sm btn-warning padding-none">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                    Nueva incidencia</a>

                    <a href="{{ path('scalofrio_export') }}" class="btn btn-sm btn-success padding-none">
                        <span class="glyphicon glyphicon-file"></span>
                        Exportar a CSV
                    </a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Ruta</th>
                        <th>Cliente</th>
                        <th>Establecimiento</th>
                        <th>Gestión</th>
                        <th>Resultado</th>
                        <th>Acciones</th>
                    </tr>
                    {% for incidencia in pagination %}
                        <tr>
                            <td>{{ incidencia.id }}</td>
                            <td>{{ incidencia.fecha|date('d-m-Y') }}</td>
                            <td>{{ incidencia.ruta.nombre }}</td>
                            <td>{{ incidencia.cliente.nombre }}</td>
                            <td>{{ incidencia.establecimiento }}</td>
                            <td>{{ incidencia.gestion }}</td>
                            <td>{{ incidencia.resultado }}</td>
                            <td class="actions">
                                <a href="{{ path('scalofrio_incidencia_view', { id: incidencia.id}) }}" class="btn btn-sm btn-primary">Ver</a>
                                <a href="{{ path('scalofrio_incidencia_edit', { id: incidencia.id}) }}" class="btn btn-sm btn-danger">Editar</a>
{#
                                <a href="" class="btn btn-sm btn-danger btn-delete">Eliminar</a>
#}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {#display navigation#}
                <div class="navigation" style="text-align: center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}


