{% extends 'base.html.twig' %}
{% block body %}
    {{ include('menu.html.twig') }}
    {{ parent() }}

    <div class="container well">
        <div class="col-md-9">
            <h2>{{ maquina.nombre }}</h2>
            <br>
            <dl>
                <dt>Repuestos</dt>
                <dd>
                    {% for i in repuestos|keys %}
                        {{ repuestos[i].nombre }}
                        <a href="{{ path('scalofrio_repuestos_edit', { id: repuestos[i].id}) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <br>
                    {% endfor %}
                </dd>
            </dl>
    </div>

{% endblock %}