{% extends 'base.html.twig' %}

{% block body %}
    {{ include('menu.html.twig') }}
    {{ parent() }}

    {#Mensaje de confirmación de operación#}
    {%  for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert">
            <div class="container">{{ flashMessage }}</div>
        </div>
    {% endfor %}

    <div class="main container">
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h2><b>Editar usuario</b></h2>
                </div>
                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.cliente) }}
                    {{ form_widget(form.cliente, { 'attr' : {'class' : 'form-control'}}) }}
                    <span class = "text-danger">{{ form_errors(form.cliente) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.establecimientos) }}
                    {{ form_widget(form.establecimientos, { 'attr' : {'class' : 'form-control'}}) }}
                    <span class = "text-danger">{{ form_errors(form.establecimientos) }}</span>
                </div>
                <div class="form-group">
                    <label>Nombre de usuario</label>
                    {{ form_widget(form.username, { 'attr' : {'class' : 'form-control'}}) }}
                    <span class = "text-danger">{{ form_errors(form.username) }}</span>
                </div>
                <div class="form-group">
                    <label>Contraseña</label> (Si se deja vacío, se mantiene la contraseña anterior)
                    {{ form_widget(form.password, { 'attr' : {'class' : 'form-control'}}) }}
                    <span class = "text-danger">{{ form_errors(form.password) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.role) }}
                    {{ form_widget(form.role, { 'attr' : {'class' : 'form-control'}}) }}
                    <span class = "text-danger">{{ form_errors(form.role) }}</span>
                </div>

                <div class="checkbox">
                    <label>
                        {{ form_widget(form.isActive) }} Activo
                        <span class = "text-danger">{{ form_errors(form.isActive) }}</span>
                    </label>
                </div>

                <p>
                    {{ form_widget(form.guardar, {'label' : 'Actualizar usuario', 'attr': {'class': 'btn btn-success'}}) }}
                </p>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function () {

        //Control selects cliente>establecimiento
        var select = document.getElementById('username_cliente');
        select.addEventListener('change',
            function () {
                var selectedOption = this.options[select.selectedIndex];
                CambioCliente(selectedOption.value);
                $("#username_establecimientos").prop("disabled", true);
                $("#username_establecimientos").empty();
            });

    });

    function CambioCliente(idcliente){
        var ruta = '{{ path('obtener_establecimiento', {'idcliente':'IDCLIENTE'}) }}';
        ruta = ruta.replace('IDCLIENTE', idcliente);
        $.post(ruta, null, function(result) {
            $("#username_establecimientos").prop("disabled", false);
            $("#username_establecimientos").append(result);
        });
    }

</script>
{% endblock %}
